<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BG Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #05f">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle text" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BG Tracker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", Style = "color:White;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color: #ffffff">
                    <li>@Html.ActionLink("About", "About", "Home", null, new { Style = "color:White;" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { Style = "color:White;" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("View Blood Glucose History", "Index", "GlucoseTracker", null, new { Style = "color:White;" })</li>
                        <li>@Html.ActionLink("Food and Drink List", "Index", "FoodAndDrink", null, new { Style = "color:White;" })</li>
                    }                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Todd Newland</p>
            @Html.ActionLink("About", "About", "Home", null, new { Style = "color:Black;" })
            @Html.ActionLink("Contact", "Contact", "Home", null, new { Style = "color:Black;" })
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
